<!DOCTYPE html>
<html ng-app="soundboxApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="root.controller">
<header>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row navbar-search">
                <div class="col-xs-2">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-xs-8">
                    <div class="input-group">
                        <input class="form-control" aria-label="Text input with segmented button dropdown"
                               placeholder="Search"
                               ng-model="model.search">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default btn-round glyphicon glyphicon-plus"></button>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    @RenderBody()
</div>

@Scripts.Render("~/Scripts/core")
@Scripts.Render("~/Scripts/angularjs")
</body>
</html>